.row {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.row__poster {
  height: 100px;
  padding-right: 10px;
  transition: ease-in-out 200ms;
  padding: 10px;
}

.row__poster_boy {
  height: 250px;
  object-fit: contain;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 300px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: x-large;
}
