.row {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.row__poster {
  height: 150px;
  padding-right: 10px;
  transition: ease-in-out 200ms;
  padding: 10px;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 200px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}
